<h1>BOOKS</h1>

<section id="search">
    <form action="/books" method="GET">
        <input type="text" name="title" placeholder="Harry Potter">
        <input type="number" name="rating" placeholder="minimum Rating">
        <button type="submit">Search</button>
        <a href="/books/create">Create new Book</a>     
    </form>

</section>

{{#each books}}
    <section class="book-summary">
        <h2>{{title}}</h2>
        <div>
            Author: {{this.author.name}} <br />
            Rating: {{this.rating}} <br />
            <a href="/books/{{_id}}">See details</a> |
            <a href="/books/{{_id}}/edit">Edit</a>
            <br>
            <form action="/books/{{_id}}/delete" method="POST">
                <button>Delete</button>
            </form>
        </div>

  </section>
{{/each}}